.logo {
  height: 32px;
  color: white;
  font-size: 25px;
  padding: 14px;
  padding-left: 15px;
  font-weight: 100;
  text-align: center;
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.main-container {
  position: relative;
  min-height: 100vh; /* will cover the 100% of viewport */
  display: block;
  padding-bottom: 100px; /* height of your footer */
}

@media only screen and (max-width: 600px) {
  main-container {
    min-height: unset; /* will cover the 100% of viewport */
  }
}
